<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>About git</title>
    <link rel="stylesheet" href='/static/css/h1.css' />
</head>

<body>
    <h1 > About git </h1>
    <p>Git is a distributed version-control system for tracking changes in source code during software development. It is designed for coordinating work among programmers, but it can be used to track changes in any set of files. Its goals include speed,
        data integrity, and support for distributed, non-linear workflows
    </p>
</body>

</html>